#cta_back-success{
    background-color: #F1F2E6;
    border-radius: 40px;
    padding: 1% 2%;
    justify-content: center;
    position: relative;
    left: 80%; 
}
#cta_back-success,
.cta_done,
.cta_productSpecific,
.cta_checkout,
.cta_edit,
.cta-contact_send,
.cta_continuebuying{
    display: flex;
    cursor: pointer;
}
#cta_back-success,
button,
.cta_especific-products,
.cta_checkout,
.cta_edit,
.cta-contact_send,
.cta_continuebuying,
.title-page{
    color: #595452;
}
#cta_back-success,
button,
.cta_done,
.cta_especific-products,
.cta_checkout,
.cta_edit,
.cta-contact_send,
.cta_continuebuying,
.title-page{
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase ;
    border: 3px solid #707070;
    border-radius: 23px;
    cursor: pointer;
}
.cta_productSpecific{
    padding: 2%;
    max-width: 50%;
    margin: 3% auto 1% auto;
}
.cta_done{
    padding: 3%; 
}
.cta_done,
.cta_continuebuying{
    justify-content: center;
}
.cta-products__winter2020-2021,
.cta-products__autumn-men,
.cta_checkout,
.cta_edit{
    background-color: #dbe2e7;
}
.cta-products__autumn-woman{
    background-color: #F4F6F8;
}
.cta_continuebuying{
    width: 60%;
    height: 20%;
    margin-top: 10%;
    padding: 1% 2%;
}
.ctas-modal_products-specific{
    display:flex;
    justify-content: space-around;
}
.ctas-modal_products-specific p{
    height: 6%;
    font-size: 0.5em;
    margin-top: 10%;
}
i.fas.fa-cart-plus{
    margin-left: 10px; 
}
.cta_checkout{
    width: 40%;
    padding: 3%;
    justify-content: center;
    margin: 0 auto;
}
.cta_edit{
    width: 20%;
    justify-content: center;
}
.cta_done{
    justify-items: right;
    font-size: 0.8em;
}
.cta-contact_send{
    background-color: #F1F2E6;
}
.cta-contact_send{
    max-width: 40%;
}
#cta_back-success{
    left: 0;
    margin: 10% auto;
}
.cta-contact_send{
    position: relative;
    left: 70%;
}
.cta-contact_send:disabled{
    color: rgba(157, 165, 150, 0.7);
}
.cta_addCart{
    padding: 5%;
    width: 80%;
}
.cta_done{
    margin:8% auto;
}
@media (min-width:600px){
    .cta_continuebuying{
    max-width: 25%;
    }
    .cta_continuebuying{
        top: 50px;
        left: 60%;
        padding: 1%;
    }
    .ctas-modal_products-specific h6{
        max-width: 70%;
        font-size: 0.8em;
    }
    .cta_done{
        width: 40%;
        padding: 2%;
        margin: 7% 100%;
    }
    button:hover{
        box-shadow: 0 10px 30px rgba(136, 127, 127, 0.3);
    }
    .cta_productSpecific{
        max-width: 80%;
    }
    .cta_done{
        margin: 7% 140%;
    }
    #cta_back-success{
        left: -35%;
    }
}
@media (min-width:300px) and (max-width:999px){
    #cta_back-success{
        width: 20%;
    }
}