.spec{
    position: relative;
    max-width: 15%;
    margin-left: -1%;
}
.specific {
    display: grid;
    grid-template-columns: 3fr 1fr 2fr;
}
.photos_specific-product img{
    max-width: 70%;
    margin-left: 20%;
    cursor: zoom-in;
}
.unit {
    color: rgb(116, 19, 19);
}
.color{
    padding: 9px;
    max-width: 6%;
    border: 2px solid #707070;;
    border-radius: 3px;
}
.white{
    background-color: white;
}
.red{
    background-color: red;
}
.green{
    background-color: green;
}
.yellow{
    background-color: yellow;
}
.starsBest{
    margin-top: 8%;
    max-width: 30%;
}
#modal{
    display: none;
    position: fixed;
    z-index: 300;
    top: 0;
    left: 0;
    padding:3%;
    box-shadow: 5px 5px 10px rgba(136, 127, 127, 0.3);
    width: 95%;
    height: 100%;
    animation-name: bigger;
    animation-duration: 0.4s;
    background: rgba(45, 77, 64, 0.438);
}
@keyframes bigger {
  from {transform:scale(0.5)}
  to {transform:scale(1)}
}
#modal img{
    max-width: 95%;
    max-height: 90%;
    position: relative;
}
#close{
    position: fixed;
}
#modal img,
#close{
    top: 10%;
}
@media (min-width:320px) and (max-width:599px){
    .body_Specific{
        max-width: 300px;
        margin: 0 auto;
    }
    .spec{
        display: none;
    }
    .specific{
        display: block;
    }
    .details_buying{
        max-width: 320px;
        margin: 0 auto;
    }
    #addCart{
        margin: 6% auto 5% auto;
    }
}
